In [13]:
import pandas as pd
df=pd.read_csv('homeprices.csv')
df.head(10)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
df.dropna(inplace=True)
df.head(10)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
model_pipeline=Pipeline([
    ('poly',PolynomialFeatures(degree=2)),
    ('robscal',RobustScaler()),
    ('linreg',LinearRegression())
])
x=df.drop(['price','age','area'],axis=1)
y=df['price']
model_pipeline.fit(x,y)
y_pred=model_pipeline.predict(x)
from sklearn.metrics import r2_score
r2_score(y,y_pred)

0.8752790686320201